{
    "google_api_key": "AIzaSyDg0qjA_ncBBb5RZEMndtpsTdGHJUVDR3Q",
    "custom_search_engine": "014054087568344147788:nlf077dknn4",
    "show_search_term": "True",
    "customcmd_color": "27007A",
    "rich_embed": "on",
    "default_status": "idle",
    "ascii_font": "big",
    "quoteembed_color": "auto",
    "embed_color": "#ffffff",
    "timezone": "",
    "24hours": "true",
	"password": ""
}
